
@code {
    [Parameter]
    public Models.Post Post { get; set; }

    [Parameter]
    public Models.Subject Subject { get; set; }

    [Parameter]
    public SnackisApp.Areas.Identity.Data.SnackisUser User { get; set; }

    [Parameter]
    public int Level { get; set; }

    TimeZoneInfo timeZone = TimeZoneInfo.FindSystemTimeZoneById("Central Europe Standard Time");
}



@*<h6>Inlägg på nivå @Level</h6>*@

<div class="col mx-3">
    <div class="border m-2">
        <div class="m-3">
            @if (User != null)
            {
                <div class="row mx-0">
                    <a href="/MI/ViewMI?ShowUserName=@User.UserName">
                        <img style="max-height: 50px" src="img/@User.Picture" />
                        <h6 class="mb-1 mx-5">@User.UserName</h6>
                    </a>
                    <a class="mx-2" href="/EditPost/?LikePostId=@Post.Id"><img style="max-height: 20px" src="/img/like_PNG44.png" /></a>
                    <p class="mr-3">@Post.NumberOfLike</p>
                    <a class="mx-2" href="/EditPost/?LovePostId=@Post.Id"><img style="max-height: 20px" src="/img/love_PNG42.png" /></a>
                    <p>@Post.NumberOfLove</p>

                    @if (Level < 4)
                    {
                        <div class="mx-5">
                            <a class="mr-3" href="/CreatePost/?SubjectId=@Subject.Id&PostId=@Post.Id">Skriv svar</a>
                        </div>
                    }
                    else
                    {
                        <div class="mx-5">
                            <p>Kan ej besvaras, ytterligare nivåer kan inte skapas i tråden</p>
                        </div>
                    }
                </div>
            }
            else
            {
                <div class="row mx-0">
                    <img style="max-height: 50px" src="img/default.png" />
                    <h6 class="mb-1 mx-5">Okänd användare</h6>
                    <div class="mx-5">
                        <p>Det går inte att svara på det här inlägget</p>
                    </div>
                </div>
            }
            <p class="small">@TimeZoneInfo.ConvertTimeFromUtc(Post.Date, timeZone).ToString("g")</p> @* g = Datum + tid utan sekunder*@
            <div class="row justify-content-between mx-0">
                <h5>@Post.Title</h5>
                @if (Post.IsOffensiv)
                {
                    <p class="mr-3 text-danger">Inlägget är anmält för olämpligt innehåll</p>
                }
                else
                {
                    <a class="mr-3" href="./Report/?ReportPostId=@Post.Id">Anmäl för olämpligt innehåll</a>
                }
            </div>
            <p>@Post.Text</p>
            @if (Post.Images != null)
            {
            <div class="row">
                @foreach (var image in Post.Images)
                {
                    <img class="mx-1" style="max-height: 100px" src="postimg/@image.FileName" />
                }
            </div>
            }
        </div>
    </div>
</div>



