@page
@model SnackisApp.Pages.Admin.UserAdmin.UsersModel

@using SnackisApp.Areas.Identity.Data;
@using Microsoft.AspNetCore.Identity;

@inject UserManager<SnackisUser> UserManager;
@inject RoleManager<IdentityRole> RoleManager;

@{
    var allUsers = UserManager.Users.OrderBy(u => u.UserName).ToList();
    var allRoles = RoleManager.Roles.OrderBy(r => r.Name).ToList();
}

<div class="container">
    <div class="row">
        <div class="col-md-auto">
            <h1 class="text-center mb-5">Användaradmin</h1>

            @if (Model.MemberIsOriginalAdmin)
            {
                <h3 class="text-danger">Det går inte att ta bort rollen "Admin" från användare admin</h3>
            }

            @if (Model.IsLastAdmin)
            {
                <h3 class="text-danger">Minst ett personligt konto måste ha Admin-rättigheter</h3>
            }

            @if (Model.MemberIsAdmin)
            {
                <h3 class="text-danger">Det går inte att ta bort rollen "Medlem" från en användare med Admin-rättigheter</h3>
            }




            <h4>Admin</h4>

            <table class="table table-sm">
                <thead>
                    <tr>
                        <th></th>
                        <th>
                            Användarnamn
                        </th>
                        <th>
                            Epost
                        </th>
                        <th>
                            Telefon
                        </th>

                        @foreach (var role in allRoles)
                        {
                            <th>@role.Name</th>
                        }

                    </tr>
                </thead>

                <tbody>
                    @foreach (var user in allUsers)
                    {
                        if (await UserManager.IsInRoleAsync(user, "Admin"))
                        {
                            <tr class="border-bottom">
                                <td>
                                    <img style="max-height: 30px" src="~/img/@user.Picture" title="Användarbild" alt="Användarbild" />
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => user.UserName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => user.Email)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => user.PhoneNumber)
                                </td>

                                @foreach (var role in allRoles)
                                {
                                    if (await UserManager.IsInRoleAsync(user, role.Name))
                                    {
                                        <td>&nbsp&nbsp&#10003&nbsp&nbsp&nbsp<a href="?RemoveUserId=@user.Id&Role=@role.Name"> Ta&nbspbort&nbsp&nbsp</a></td>
                                    }
                                    else
                                    {
                                        <td>&nbsp&nbsp-&nbsp&nbsp&nbsp&nbsp<a href="?AddUserId=@user.Id&Role=@role.Name"> Lägg&nbsptill&nbsp&nbsp</a></td>
                                    }
                                }
                            </tr>
                        }
                    }
                </tbody>
            </table>

            @for (int i = 0; i < allRoles.Count; i++)
            {
                if (allRoles[i].Name != "Admin")
                {
                    <h4>@allRoles[i].Name</h4>

                    <table class="table table-sm">
                        <thead>
                            <tr>
                                <th></th>
                                <th>
                                    Användarnamn
                                </th>
                                <th>
                                    Epost
                                </th>
                                <th>
                                    Telefon
                                </th>

                                @foreach (var role in allRoles)
                                {
                                    <th>@role.Name</th>
                                }

                            </tr>
                        </thead>

                        <tbody>
                            @foreach (var user in allUsers)
                            {
                                bool isAdmin = await UserManager.IsInRoleAsync(user, "Admin");

                                if (isAdmin == false && await UserManager.IsInRoleAsync(user, allRoles[i].Name))
                                {
                                    <tr class="border-bottom">
                                        <td>
                                            <img style="max-height: 30px" src="~/img/@user.Picture" title="Användarbild" alt="Användarbild" />
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => user.UserName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => user.Email)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => user.PhoneNumber)
                                        </td>

                                        @foreach (var role in allRoles)
                                        {
                                            if (await UserManager.IsInRoleAsync(user, role.Name))
                                            {
                                                <td>&nbsp&nbsp&#10003&nbsp&nbsp&nbsp<a href="?RemoveUserId=@user.Id&Role=@role.Name"> Ta&nbspbort&nbsp&nbsp</a></td>
                                            }
                                            else
                                            {
                                                <td>&nbsp&nbsp-&nbsp&nbsp&nbsp&nbsp<a href="?AddUserId=@user.Id&Role=@role.Name"> Lägg&nbsptill&nbsp&nbsp</a></td>
                                            }
                                        }
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                }
            }


            <h4>Avstängda</h4>

            <table class="table table-sm">
                <thead>
                    <tr>
                        <th></th>
                        <th>
                            Användarnamn
                        </th>
                        <th>
                            Epost
                        </th>
                        <th>
                            Telefon
                        </th>

                        @foreach (var role in allRoles)
                        {
                            <th>@role.Name</th>
                        }

                    </tr>
                </thead>

                <tbody>
                    @foreach (var user in allUsers)
                    {
                        bool isBlocked = true;
                        if (await UserManager.IsInRoleAsync(user, "Medlem"))
                        {
                            isBlocked = false;
                        }

                        if (isBlocked)
                        {
                            <tr class="border-bottom">
                                <td>
                                    <img style="max-height: 30px" src="~/img/@user.Picture" title="Användarbild" alt="Användarbild" />
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => user.UserName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => user.Email)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => user.PhoneNumber)
                                </td>

                                @foreach (var role in allRoles)
                                {
                                    if (await UserManager.IsInRoleAsync(user, role.Name))
                                    {
                                        <td>&nbsp&nbsp&#10003&nbsp&nbsp&nbsp<a href="?RemoveUserId=@user.Id&Role=@role.Name"> Ta&nbspbort&nbsp&nbsp</a></td>
                                    }
                                    else
                                    {
                                        <td>&nbsp&nbsp-&nbsp&nbsp&nbsp&nbsp<a href="?AddUserId=@user.Id&Role=@role.Name"> Lägg&nbsptill&nbsp&nbsp</a></td>
                                    }
                                }
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
